// extended - include eot, woff, etc (see ./mixins/fonts)
$use-fonts-extended = false;
$fonts-path = '../../fonts/';

$fonts-arr = {
  '400': {
    name: 'MontserratAlternates',
    file: MontserratAlternates-Regular,
    weight: normal,
    style: normal
  },
  '400i': {
    name: 'MontserratAlternates',
    file: MontserratAlternates-Italic,
    weight: normal,
    style: italic
  },
}